@media screen and (max-width: 768px) {
	.dashboard--container {
		.dashboard--wrapper {
			.title {
				font-size: 23px;
				font-weight: 400;
			}

			.about--wrapper {
				width: calc(100% - 50px);
			}

			.hero--section {
				.header {
					h1 {
						font-size: 30px;
					}
				}
			}

			.sensors--list-container {
				width: calc(100% - 50px);

				.table-responsive {
					width: calc(100vw - 50px);
					overflow: scroll;
				}
			}

			.sensors--list-container {
				.sensors--list {
					width: 100vw !important;

					.list-column-header,
					.list-rows {
						width: 100vw;
						overflow-x: scroll;
					}
				}
			}
		}
	}

	.table-responsive {
		.table {
			tbody {
				width: 100vw;
				overflow-x: scroll;
			}
		}
	}
}

@media screen and (max-width: 668px) {
	.dashboard--container {
		.dashboard--wrapper {
			.about--wrapper {
				flex-direction: column;

				.facts--container {
					width: unset;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.dashboard--container {
		.dashboard--wrapper {
			.hero--section {
				.header {
					padding: 10px;

					h1 {
						font-size: 20px;
					}

					p {
						a {
							font-size: 12px;
						}
					}
				}
			}

			.about--wrapper {
				padding: 20px 0;
			}

			.sensors--list-container {
				padding: 20px 0;

				h3 {
					font-size: 20px;
				}
			}
		}
	}
}